h1{

    color:blue;
    text-align: center;
}
h2{

    color:grey;
    font-size: 20px;
    text-align: center;
    margin-right: 400px;
}

.rojo{

    text-align: center;
    color:red;
    margin-left: 400px;
}