.fondoazul{
    background-color: blue;
    color:white;


}
.fondogris{
    background-color: grey;
    color:white;
    padding-right: -400px;


}
.borderojo{
    border-color: red;
    border-style: solid;
    background-color:beige;

}