.titulo{
background-color:brown;
color:white;
margin-bottom: 10px;



}
.texto{

    background-color: blanchedalmond;
    font-weight: bold;
    margin-bottom: 15px;
}

.texto1{
    background-color: blanchedalmond;
    margin-bottom: 30px;

}