h1{
    color:white;
    font-size:40px;
    background-color: purple;
}
h2{
color:orange;


}

h2+p{

    background-color: bisque;
    color:brown;
    padding: 25;
    
}

p{
    background-color: aqua;
    color:blue;
    padding: 23px;
}




