h1{
    color:blue;
    text-decoration: underline;

}



p{
    color:grey;



}
h1+p{
    background-color: orange;
    color:white;
    margin-left:20px;
    padding: 25px;
}
h2{

    color:blue;
}

li{
    background-color: aqua;
    margin-bottom: 5px;
    color:white;

}

li a{
    color: blue;

}




