h1{
    color:blue;


}



p{
    color:grey;



}
.poeta{
    background-color: orange;
    color:white;
    margin-left:20px;
}
h2{

    color:blue;
}

li{
    background-color: aqua;


}

li a{
    color: blue;

}




